<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chen.atguigucode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AtguiguAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/atguigu_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".okhttp.OkHttpActivity" />
        <activity android:name=".okhttp.OkHttpUtilsActivity" />
        <activity android:name=".okhttp.ImageListActivity" />
        <activity android:name=".xtuils3.XUtilsActivity" />
        <activity android:name=".xtuils3.net.XUtils3NetActivity" />
        <activity android:name=".jsonnative.NativitJsonActivity" />
        <activity android:name=".jsonnative.GsonParseActivity" />
        <activity android:name=".jsonnative.FastJsonActivity" />
        <activity android:name=".afinal.AfinalActivity" />
        <activity android:name=".volley.VolleyActivity" />
        <activity android:name=".envetbus.EventBusActivity" />
        <activity android:name=".envetbus.EnvenBusSendActivity" />
        <activity android:name=".butterknife.ButterKnifeActivity" />
        <activity android:name=".imageloader.ImageLoaderActivity" />
        <activity android:name=".picaso.PicasoActivity" />
        <activity android:name=".picaso.PicasonListviewActivity" />
        <activity android:name=".picaso.PicasoTranformationActivity" />
        <activity android:name=".recycleview.RecycleViewActivity" />
        <activity android:name=".glide.GlideActivity" />
        <activity android:name=".glide.GlideRecycleViewActivity" />
        <activity android:name=".glide.GlideTransformActivity" />
        <activity android:name=".fresco.FrescoActivity" />
        <activity android:name=".fresco.activity.Fresco1Activity" />
        <activity android:name=".fresco.activity.Fresco2Activity" />
        <activity android:name=".fresco.activity.Fresco3Activity" />
        <activity android:name=".fresco.activity.Fresco4Activity" />
        <activity android:name=".fresco.activity.Fresco5Activity" />
        <activity android:name=".fresco.activity.Fresco6Activity" />
        <activity android:name=".fresco.activity.Fresco7Activity" />
        <activity android:name=".fresco.activity.Fresco8Activity" />
        <activity android:name=".fresco.activity.Fresco9Activity" />
        <activity android:name=".fresco.activity.Fresco10Activity" />
        <activity android:name=".universalvideoview.UniversalVideoViewActivity" />
        <activity android:name=".jiecao.JieCaoMainActivity" />
        <activity
            android:name=".jiecao.PlayDirectlyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.ListViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.ListViewNormalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.ListViewViewpagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.ListViewMultiHolderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.ApiActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.UISmallChangeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.UIBigChangeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.RecyclerViewNormalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.AutoTinyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.AutoTinyListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.AutoTinyNormalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiecao.OrientationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity android:name=".banner.BannerMainActivity" />
        <activity android:name=".banner.demo.BannerLocalActivity" />
        <activity android:name=".banner.demo.CustomBannerActivity" />
        <activity android:name=".banner.demo.CustomViewPagerActivity" />
        <activity android:name=".countdownview.CountdownViewMainActivity" />
        <activity android:name=".countdownview.activity.DynamicShowActivity" />
        <activity android:name=".countdownview.activity.ListViewActivity" />
        <activity android:name=".countdownview.activity.RecyclerViewActivity" />
        <activity
            android:name=".opendanmaku.OpenDanmakuMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".tablelayout.TablelayoutMainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
    </application>

</manifest>